body {
    margin:        0;
    border:        0;

    padding-left:  100px;
    padding-right: 100px;
    padding-top:   25px;

    background:    #fcfcfc;
    font-family:   Palatino, Georgia, Times;
}

header {
    font-size: 20px;
}

main {
    display:               grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:    50% 50%;
    grid-gap:              25px;
}

#tooltip {
    position:      absolute;
    opacity:       0.0;
    padding:       10px;
    background:    #fcfcfc;
    border-radius: 5px;
    border-width:  3px;
    border-style:  solid;
    border-color:  #c8c8c8;
    transition:    opacity 0.5s ease;
}

/* It must be visible, otherwise copying to clipboard will not work. */
#clipboard-input {
    position: absolute;
    left:     -9999px;
}

img.icon {
    width:  16px;
    height: 16px;
}

section#romaji {
    grid-column: 1;
    grid-row:    1;
}

section#kana {
    grid-column: 2;
    grid-row:    1;
}

section#romaji textarea#romaji-input {
    background:    #fefefe;
    border-radius: 5px;
    border-width:  3px;
    border-style:  solid;
    border-color:  #c8c8c8;
    padding:       15px;
    width:         100%;
    height:        100%;
    box-sizing:    border-box;
    font-size:     20px;
    resize:        none;
}

section#kana div#output-kana {
    font-size: 20px;
}

#tooltip a,
#tooltip a:hover,
#tooltip a:visited {
    color:           inherit;
    text-decoration: underline dashed;
    transition:      all 1s ease;
    margin:          3px;
}

section#kana div#output-kana a:hover {
    text-shadow: 1px 1px #989898;
}

div#output-kana span {
    margin: 3px;
    transition: text-shadow 0.5s ease;
}

div#output-kana span:hover {
    text-shadow: -0.025ex 0 black, 0.025ex 0 black;
}